<div class="bg">
  <div class="card">
    <mat-card>
      <img src="../../../assets/img/Logonetflix.png" alt="">
      <mat-card-content>
        <form #form="ngForm" (ngSubmit)="onsubmit(form)">
          <mat-form-field appearance="fill" class="d-block">
            <mat-label>Email*</mat-label>
            <input matInput appareance type="email" id="email" name="email" class="form-control" ngModel>
          </mat-form-field>
          <mat-form-field appearance="fill" class="d-block">
            <mat-label>Password*</mat-label>
            <input matInput type="password" id="password" name="password" class="form-control" ngModel>
          </mat-form-field>
          <mat-card-actions>
            <button mat-button mat-raised-button color="accent" type="submit">Accedi</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
    <p class="registrati">Oppure <a [routerLink]="['/signup']" routerLinkActive="active">Registrati</a><br>
      <span class="signature">Powered by
        <span class="myName">Christian Vitale</span>
      </span>
      </p>
  </div>
</div>
