.main{
  width: 100%;
  height: 100%;
  padding: 30px;
}

img{
  width: 100%;
  -webkit-filter: brightness(100%);
  cursor: pointer;
}
img:hover {
  -webkit-filter: brightness(140%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

mat-icon{
  padding: 10px;
  cursor: pointer;
}

.liked{
  color: red;
}

.spinner-border{
  color: white !important;
  margin-top: 40vh;
}

.loadingLike{
  color: rgb(192, 192, 192);
}
